---
// import BrowseNowRIP from "."
import "./style.css";

const BML = import.meta.glob("./*.bml", {
  query: "?raw",
  import: "default",
  eager: true,
});
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Asciidoctor 2.0.17" />
    <meta name="author" content="iranika109" />
    <title>Bookmarklet Box</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700"
    />
  </head>
  <body class="article">
    <div id="header">
      <h1>Bookmarklet Box</h1>
      <div class="details">
        <span id="author" class="author">iranika109</span><br />
      </div>
    </div>
    <div id="content">
      <div id="preamble">
        <div class="sectionbody">
          <div class="paragraph">
            <p>
              iranikaが作ったブックマークレット（Bookmarklet）を公開するおもちゃ箱のページです。<br
              />
              ブックマークレットってなんなの？ ⇒ <a
                href="https://ja.wikipedia.org/wiki/%E3%83%96%E3%83%83%E3%82%AF%E3%83%9E%E3%83%BC%E3%82%AF%E3%83%AC%E3%83%83%E3%83%88"
                >Wikipediaの解説</a
              ><br />
            </p>
          </div>
        </div>
      </div>
      <div class="sect1">
        <h2 id="_browsenowrip">BrowseNowRIP</h2>
        <div class="sectionbody">
          <div class="paragraph">
            <p>
              これは BrowseNowのブックマークレットオンリー実装です。<br />
              今見ているページのタイトルとURLを含めてTwitterにシェアできます。<br
              />
              Twitter公式のシェア用URLに依存しています。
            </p>
          </div>
          <div class="listingblock">
            <div class="content">
              <pre
                class="highlight"><code class="language-js" data-lang="js" set:text={BML["./BrowseNowRIP.bml"]} /></pre>
            </div>
          </div>
        </div>
      </div>
      <div class="sect1">
        <h2 id="_browsenowrip_for_misskey_io">BrowseNowRIP for Misskey.io</h2>
        <div class="sectionbody">
          <div class="paragraph">
            <p
              set:text="Misskey.io以外のドメインで使いたい場合はソースコードの`https://misskey.io/share` の部分を`https://{使いたいドメイン}/share` に置き換えてください。"
            />
          </div>
          <div class="listingblock">
            <div class="content">
              <pre
                class="highlight"><code class="language-js" data-lang="js" set:text={BML["./BrowseNowRIP4Misskey.bml"]} /></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="footer-text"></div>
    </div>
  </body>
</html>
